.transaction {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
  max-width: 500px;
}

.transaction th,
.transaction td {
  border: 1px solid var(--secondary-color);
  padding: 8px;
  text-align: center;
}

.transaction th {
  background-color: var(--secondary-color);
  color: var(--table-header-color);
  font-weight: 700;
}

.transaction td {
  color: var(--secondary-color);
  font-weight: 500;
}

.transaction tbody tr:nth-child(odd) {
  background-color: var(--primary-color);
}

.transaction tbody tr:nth-child(even) {
  background-color: var(--section-bgr-color);
}
